
body {
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.timer-box {  
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 300px;
}

.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;    
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.music-slider {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 100px;
}
 
/*VOLUME SLIDER*/

.slider-cont {
    padding: 25px;
    background-color: #fff;
    border-radius: 5px 30px 30px 5px;
    display: flex;
    align-items: center;
}

.slider {
    position: relative;
    width: 200px;
    height: 20px;
}

.slider input {
    position: absolute;
    left: -6px;
    top: 0;
    width: 212px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 99;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #e91e63;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px; /* alignment fix for Chrome */
    margin-left:-5px;
}

.slider progress {
    width: 200px;
    height: 20px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
    overflow: hidden;
}

.slider progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}

.slider progress::-webkit-progress-value {
    background-color: #e91e63;
}

.sliderValue {
    font-family: "Google Sans Regular";
    width: 28px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
}